[Unit]
Description=Prometheus node_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:{{ node_exporter_port }} \
  --collector.textfile.directory={{ node_exporter_textfile_dir }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
