[Unit]
Description=Home Assistant
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ homeassistant_user }}
WorkingDirectory={{ homeassistant_config_dir }}
ExecStart={{ homeassistant_venv_dir }}/bin/hass -c "{{ homeassistant_config_dir }}"
RestartForceExitStatus=100
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
