[Unit]
Description=Prometheus
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
ExecStart=/usr/local/bin/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention }} \
{% if prometheus_external_url %}
  --web.external-url={{ prometheus_external_url }} \
{% endif %}
  --web.listen-address=:{{ prometheus_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
